
body {
   font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  background: url(../img/background.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin:0;
  padding:
}

.trans-well {
	 background: rgba(255,255,255,0.87);
	 margin-top: 1%;
	 padding: 1%;
}

.thumb-box {
	margin-top: 2em;
}

.my-footer {
    margin-top: 1%;
    left: 0;
    bottom: 0;
    width: 100%;
    background: rgba(255,255,255,0.87);
    text-align: center;
}